.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // Subgrids allow a grid that is inside a grid to snap it's tracks to the parent grid.
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}